{% extends 'base.html' %}

{% block title %}
Sign in res
{% endblock %}

{% block body %}
    <main class="form-signin w-100 m-auto">
  <form action="/signres" method="post">
      <div class="img_center"><img class="mb-4" src="../static/img/nft.jpg" alt="" width="400" height="400">
          <h1 class="h3 mb-3 fw-normal">{{answer381}}</h1></div>


      <div class="signin_form_container">
          <div class="signin_form">
              <div class="form-floating">
                  <input type="name" name="namereg" class="form-control border_radius_top" id="floatingInput" placeholder="name">
                  <label for="floatingInput">User name</label>
              </div>
              <div class="form-floating">
                  <input type="email" name="emailreg" class="form-control no_border_top no_border_radius" id="floatingInput"
                         placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                  <input type="password" name="passreg" class="form-control no_border_top border_radius_bottom" id="floatingPassword"
                         placeholder="Password">
                  <label for="floatingPassword">Password</label>
              </div>

              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              <p class="mt-5 mb-3 text-muted">©2022</p>
          </div>
      </div>
  </form>
</main>
{% endblock %}



